div{
    height:100px;
    width:100px;
    background-color: darkcyan;
    color:black;
    border:1px solid black;
    margin-top: 2px;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}